<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %date %yellow([%16.16thread]) %highlight(%-5level) %cyan(%24.24logger{24}) %replace(%msg){'\n','%n'}%n
            </pattern>
        </layout>
    </appender>
    <logger name="io.injest.core.Injest" level="info" />
    <root level="warn">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>